/* General styles */

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* Navigation */

.navbar {
    letter-spacing: 0.25rem;
    margin-bottom: 0;
    border: 0;
    opacity: 0.9;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    float: left;
}

.nav-item {
    margin: 0 20px;
}

.navbar-nav li a:hover {
    color: #c7f9cc !important;
}

.main-bg {
    background-color: #4A4A4F;
}

/* For the home page */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: lightgray;
    padding: 20px;
    font-weight: 900;
    text-align: center;
}

.light-bg {
    background-color: #fff;
}

.calendar {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: whitesmoke;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.row {
    background-image: url('https://image.boxrox.com/2020/11/dani-speegle-box-jump-over-scaled-e1637337556649.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    position: relative;
}

.row::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.services h3,
.services p,
.services i {
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

/* Login & Logout */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-secondary:hover {
    background-color: #38A3A5 !important;
    color: white;
    border-color: #22577a !important;
}

/* Style headers for forms */
.signup,
.login,
.logout {
    color: black;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

/* Style the introductory message for forms*/
.signup p,
.login p,
.logout p {
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Style the form container */
.container {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

/* Style the form elements */
.form-group {
    margin-bottom: 20px;
}

/* Style form labels */
label {
    font-weight: bold;
    color: black;
}

/* Style form input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style links within the introductory message */
.link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

/* Booking page and associated pages */
.calendar-booking {
    width: 100%;
    margin-bottom: 0.9375rem;
    border: 1px solid #c1c3c5;
    background: lightgrey;
}

.session-box {
    text-align: center;
}

.booking-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-details {
    flex-grow: 1;
    margin-bottom: 0;
}

.booking-header,
.delete-booking,
.list-group-item,
.already-booked,
.booking-successful {
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

/* Media queries */

/* For screens that are 912px wide or less */
@media (max-width: 912px) {
    .calendar {
        display: none;
    }

    .container {
        width: 90%;
        font-size: xx-small;
    }

    .calendar-booking {
        width: 90%;
        font-size: xx-small;
        margin: 0 auto;
    }

    .btn {
        font-size: 8px;
        padding: 5px 5px;
    }
}

/* For screens that are 480px wide or less */
@media (max-width: 480px) {
    .btn {
      font-size: 6px;
      padding: 0;
    }
  
    .calendar-booking {
      width: 100%;
      margin: 0;
      padding: 0;
      border-spacing: 0;
      table-layout: fixed;
    }
  
    .calendar-booking th.day {
      font-size: 6px;
      padding: 3px;
    }
  
    .calendar-booking td {
      font-size: 6px;
      padding: 3px;
    }
  
    .session-box {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: minmax(40px, auto); /* Adjust the minimum height for smaller session boxes */
    }
  
    .session-box .session-content {
      height: 100%;
      padding: 0;
    }

    .session-box strong {
        display: none;
    }
  }