{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <h2 class="mb-3 text-center">Choose a Gym Session</h2>

  <table id="calendar-booking" class="calendar-booking">
    <thead>
      <tr>
        <th class="day">Monday</th>
        <th class="day">Tuesday</th>
        <th class="day">Wednesday</th>
        <th class="day">Thursday</th>
        <th class="day">Friday</th>
        <th class="day">Saturday</th>
        <th class="day">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <!-- Loop through sessions for Monday -->
          {% for session in sessions %}
          {% if session.day == 'Monday' %}
          <div class="session-box">
            <strong>Title:</strong> {{ session.title }}<br />
            <strong>Day:</strong> {{ session.day }}<br />
            <strong>Time:</strong> {{ session.time }}<br />
            <strong>Instructor:</strong> {{ session.instructor_name }}<br />
            {% if user_bookings %}
            {% for user_booking in user_bookings %}
            {% if user_booking.workout_session.id == session.id %}
            <p>You have already booked this session.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if not user_bookings %}
            <form method="POST" action="{% url 'book_session' session.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Book Session</button>
            </form>
            {% endif %}
          </div>
          <hr>
          {% endif %}
          {% endfor %}
        </td>

        <td>
          <!-- Loop through sessions for Monday -->
          {% for session in sessions %}
          {% if session.day == 'Tuesday' %}
          <div class="session-box">
            <strong>Title:</strong> {{ session.title }}<br />
            <strong>Day:</strong> {{ session.day }}<br />
            <strong>Time:</strong> {{ session.time }}<br />
            <strong>Instructor:</strong> {{ session.instructor_name }}<br />
            {% if user_bookings %}
            {% for user_booking in user_bookings %}
            {% if user_booking.workout_session.id == session.id %}
            <p>You have already booked this session.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if not user_bookings %}
            <form method="POST" action="{% url 'book_session' session.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Book Session</button>
            </form>
            {% endif %}
          </div>
          <hr>
          {% endif %}
          {% endfor %}
        </td>

        <td>
          <!-- Loop through sessions for Monday -->
          {% for session in sessions %}
          {% if session.day == 'Wednesday' %}
          <div class="session-box">
            <strong>Title:</strong> {{ session.title }}<br />
            <strong>Day:</strong> {{ session.day }}<br />
            <strong>Time:</strong> {{ session.time }}<br />
            <strong>Instructor:</strong> {{ session.instructor_name }}<br />
            {% if user_bookings %}
            {% for user_booking in user_bookings %}
            {% if user_booking.workout_session.id == session.id %}
            <p>You have already booked this session.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if not user_bookings %}
            <form method="POST" action="{% url 'book_session' session.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Book Session</button>
            </form>
            {% endif %}
          </div>
          <hr>
          {% endif %}
          {% endfor %}
        </td>
        <td>
          <!-- Loop through sessions for Monday -->
          {% for session in sessions %}
          {% if session.day == 'Thursday' %}
          <div class="session-box">
            <strong>Title:</strong> {{ session.title }}<br />
            <strong>Day:</strong> {{ session.day }}<br />
            <strong>Time:</strong> {{ session.time }}<br />
            <strong>Instructor:</strong> {{ session.instructor_name }}<br />
            {% if user_bookings %}
            {% for user_booking in user_bookings %}
            {% if user_booking.workout_session.id == session.id %}
            <p>You have already booked this session.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if not user_bookings %}
            <form method="POST" action="{% url 'book_session' session.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Book Session</button>
            </form>
            {% endif %}
          </div>
          <hr>
          {% endif %}
          {% endfor %}
        </td>


        <td>
          <!-- Loop through sessions for Monday -->
          {% for session in sessions %}
          {% if session.day == 'Friday' %}
          <div class="session-box">
            <strong>Title:</strong> {{ session.title }}<br />
            <strong>Day:</strong> {{ session.day }}<br />
            <strong>Time:</strong> {{ session.time }}<br />
            <strong>Instructor:</strong> {{ session.instructor_name }}<br />
            {% if user_bookings %}
            {% for user_booking in user_bookings %}
            {% if user_booking.workout_session.id == session.id %}
            <p>You have already booked this session.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if not user_bookings %}
            <form method="POST" action="{% url 'book_session' session.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Book Session</button>
            </form>
            {% endif %}
          </div>
          <hr>
          {% endif %}
          {% endfor %}
        </td>

        <td>
          <!-- Loop through sessions for Monday -->
          {% for session in sessions %}
          {% if session.day == 'Saturday' %}
          <div class="session-box">
            <strong>Title:</strong> {{ session.title }}<br />
            <strong>Day:</strong> {{ session.day }}<br />
            <strong>Time:</strong> {{ session.time }}<br />
            <strong>Instructor:</strong> {{ session.instructor_name }}<br />
            {% if user_bookings %}
            {% for user_booking in user_bookings %}
            {% if user_booking.workout_session.id == session.id %}
            <p>You have already booked this session.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if not user_bookings %}
            <form method="POST" action="{% url 'book_session' session.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Book Session</button>
            </form>
            {% endif %}
          </div>
          <hr>
          {% endif %}
          {% endfor %}
        </td>

        <td>
          <!-- Loop through sessions for Monday -->
          {% for session in sessions %}
          {% if session.day == 'Sunday' %}
          <div class="session-box">
            <strong>Title:</strong> {{ session.title }}<br />
            <strong>Day:</strong> {{ session.day }}<br />
            <strong>Time:</strong> {{ session.time }}<br />
            <strong>Instructor:</strong> {{ session.instructor_name }}<br />
            {% if user_bookings %}
            {% for user_booking in user_bookings %}
            {% if user_booking.workout_session.id == session.id %}
            <p>You have already booked this session.</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if not user_bookings %}
            <form method="POST" action="{% url 'book_session' session.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Book Session</button>
            </form>
            {% endif %}
          </div>
          <hr>
          {% endif %}
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}