{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="booking_change">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Delete Booking</h3>
            <p>Are you sure you want to delete this booking?</p>
            <p>Title: {{ record.workout_session.title }}</p>
            <p>Day: {{ record.workout_session.day }}</p>
            <p>Time: {{ record.workout_session.time }}</p>
            <p>Instructor: {{ record.workout_session.instructor_name }}</p>
            
            <form method="POST" action="{% url 'delete_booking' record.id %}">
                {% csrf_token %}
                <input type="hidden" name="session_id" value="{{ record.id }}">
                <h3>Your Booking Has Been Deleted</h3>
                <button class="btn btn-danger mt-3" type="submit">Delete Booking</button>
            </form>
            <a href="{% url 'my_bookings' %}" class="btn btn-primary">Back to Bookings</a>
        </div>
    </div>
</div>
{% endblock %}