{% extends "base.html" %}

{% block content %}

<main class="flex-shrink-0 main-bg">
    <h1>Make it a Lifestyle Choice</h1>
    <div class="calendar">
        <div class="day">Monday
            <hr>
            <p>8:00 - 9:00 WOD </p>
            <p>11:30 -12:30 Endurance </p>
            <p>15:00 - 16:00 WOD </p>
            <p>17:00 - 18:00 Basic</p>
        </div>
        <div class="day">Tuesday
            <hr>
            <p>6:00 - 7:00 WOD </p>
            <p>11:00 -12:00 Endurance </p>
            <p>15:00 - 16:00 WOD </p>
            <p>18:00 - 19:00 Basic</p>
        </div>
        <div class="day">Wednesday
            <hr>
            <p>8:00 - 9:00 WOD </p>
            <p>11:30 -12:30 Endurance </p>
            <p>15:00 - 16:00 Basic </p>
            <p>17:00 - 18:00 WOD</p>
        </div>
        <div class="day">Thursday
            <hr>
            <p>7:00 - 8:00 WOD </p>
            <p>10:30 -11:30 Basic </p>
            <p>15:00 - 16:00 WOD </p>
            <p>17:00 - 18:00 Endurance</p>
        </div>
        <div class="day">Friday
            <hr>
            <p>6:00 - 7:00 Endurance </p>
            <p>9:30 -10:30 WOD </p>
            <p>16:00 - 17:00 Basic </p>
            <p>18:00 - 19:00 WOD</p>
        </div>
        <div class="day">Saturday
            <hr>
            <p>8:00 - 9:00 WOD </p>
            <p>10:30 -11:30 WOD </p>
            <p>12:30 - 13:30 WOD </p>
            <p>17:00 - 18:00 WOD</p>
        </div>
        <div class="day">Sunday
            <hr>
            <p>9:00 - 10:00 WOD </p>
            <p>11:30 -12:30 WOD </p>
            <p>15:00 - 16:00 Endurance </p>
            <p>17:00 - 18:00 WOD</p>
        </div>
    </div>
</main>
<div class="bg-photo">
    <div class="row">
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <h3>WOD</h3>
                <span class="icons"><i class="fa-solid fa-heart-pulse"></i></span>
                <p>WOD stands for Workout Of the Day and is just that – today's workout</p>
                <p>The exercises included in a WOD can be any of the basic lifting movements (Squat, Front Squat, Push
                    Press, Push Jerk, Deadlift, etc.), which are complex and involve several
                    muscles working together. In addition, we do pull-ups, push-ups, sit-ups, box jumps, etc. The
                    exercises are many and the combination possibilities
                    are endless - hence the name CrossFit!</p>
            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <h3>Endurance</h3>
                <span class="icons"><i class="fa-solid fa-person-running"></i></span>
                <p>Endurance WOD gives you an enduring tough workout where we don't focus on the technical movements or
                    the heavy lifting. Rather, the focus is on endurance exercises and the use of machines - row,
                    skierg, and echo bike.
                    You will definitely be tired!</p>

            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <h3>Basic</h3>
                <span class="icons"><i class="fa-solid fa-dumbbell"></i></span>
                <p>Do you feel like this CrossFit thing is completely new to you? Then it might be a good thing to start
                    with our
                    Basic-WOD, which is a copy of today's regular WOD but a little more simplified and more explanations
                    of different scaling options.</p>
            </div>
        </div>
    </div>
</div>


{%endblock%}