{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="booking">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="booking-header">
                <h3>My Bookings</h3>
                <h4>Hello {{ request.user.username }}! These are your current bookings:</h4>
            </div>
            <ul class="list-group">
                {% for booking in user_bookings %}
                    <li class="list-group-item">
                        <div class="booking-details">
                            <p><strong>Title:</strong> {{ booking.workout_session.title }}</p>
                            <p><strong>Day:</strong> {{ booking.workout_session.day }}</p>
                            <p><strong>Time:</strong> {{ booking.workout_session.time }}</p>
                            <p><strong>Instructor:</strong> {{ booking.workout_session.instructor_name }}</p>
                        </div>
                        <a href="{% url 'delete_booking' booking.id %}"
                           class="card-link btn btn-danger mt-3 mb-3">
                            <i class="fa-solid fa-pen-to-square"></i> Delete
                        </a>
                        <a href="{% url 'edit_booking' booking.id %}"
                           class="card-link btn btn-primary mt-3 mb-3">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </a>
                    </li>
                {% empty %}
                    <li class="list-group-item">No bookings found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}