{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="booking_change">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="booking-header"> <!-- Add a class to this div -->
                <h3>My Bookings</h3>
                <h4>Hello {{ request.user.username }}! These are your current bookings: </h4>
            </div>
            <ul>
                {% for booking in user_bookings %}
                    <div class="booking-item">
                        <div class="booking-details">
                            <p><strong>Title:</strong> {{ booking.workout_session.title }}</p>
                            <p><strong>Day:</strong> {{ booking.workout_session.day }}</p>
                            <p><strong>Time:</strong> {{ booking.workout_session.time }}</p>
                            <p><strong>Instructor:</strong> {{ booking.workout_session.instructor_name }}</p>
                        </div>
                        <div class="delete-button">
                            <!-- Delete button for each booking -->
                            <form action="{% url 'delete_booking' booking.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-small btn-danger" onclick="return confirm('Are you sure you want to delete this booking?');">Delete</button>
                            </form>
                        </div>
                    </div>
                {% empty %}
                    <li>No bookings found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}